
body {
  background: url("../static/bernardo-santos-unsplash.jpg");
  background-size: cover;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: #f8f5ff;
}

li, span, footer {
  font-family: 'Roboto', sans-serif;
  color: #f8f5ff;
}

h1 {
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 18px;
}

h2 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  border-top: #607d8b 1px solid;
  padding: 25px 0px 25px 0px;
}

.bio-container {
  text-align: center;
  margin-top: 560px;
  margin-right: 250px;
  margin-left: 250px;
}

.arrow {
  color: #9ff0ff;
  text-align: center;
  cursor: pointer;
}
.arrow:hover {
  color: #607d8b;
}

.collapsible {
  width: 50%;
  margin: 100px auto;
}

.collapsible-header {
  display: relative;
  margin: 0 auto;
}

.skills-list {
  list-style: disc outside none;
}


footer {
  font-size: 10px;
  margin-top: 30px; 
}
