
body {
  background: url("../static/bernardo-santos-unsplash.jpg");
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #f8f5ff;
}

li, span, footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #f8f5ff;
}

h1 {
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 17px;
}

h2 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  border-top: #607d8b 1px solid;
  padding: 25px 0px 40px 0px;
}

.bio-container {
  text-align: center;
  margin-top: 39%;
  margin-right: 20%;
  margin-left: 20%;
}

.arrow {
  color: #9ff0ff;
  text-align: center;
  cursor: pointer;
}
.arrow:hover {
  color: #607d8b;
}

.collapsible {
  width: 50%;
  margin: 100px auto;
}

.collapsible-header {
  display: relative;
  margin: 0 auto;
}

#skills-container {
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-size: 28px;
}

.skills-cat {
   margin-right: 45px;
}

.skills-list {
  padding-left: 0;
  list-style-type: none;
}

#middle-col {
  border-left: #607d8b 1px solid;
  border-right: #607d8b 1px solid; 
  padding: 0 50px;
}

.project-container {
  border-bottom: #607d8b 1px solid; 
  padding-bottom: 20px;
  margin-bottom: 20px;
}

img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 20px auto;
}

.project-name {
  margin-top: 5px;
}

.contact-item {
  font-size: 18px;
  border-bottom: #607d8b 1px solid;
  padding: 5px;
}

footer {
  font-size: 10px;
  margin-top: 30px; 
}
